html, body {
  background: black;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text_section {
  margin-top: 0px;
  margin-bottom: 0px;
}
